@import "_variables";
@import "_mixin";
@import "_keyframes";

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  padding: 6vh 10vw;
  color: $color_3;
  background: linear-gradient(#0c0b2f, #1b175c);

  // background-color: $color_2;

  @media only screen and (min-width: 1025px) {
    // color: $color_2;
    // background-color: $color_3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 18vh;
    padding-bottom: 18vh;
    padding-right: 10vw;
    text-align: start;
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 5vh;
  }

  .profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: fit-content;

    .inner-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
        font-family: $font_family2;
        font-weight: 500;
        margin-top: 0;

        @media only screen and (min-width: 768px) {
          font-size: $font_h1;
        }

        @media only screen and (min-width: 1024px) {
          font-size: 5rem;
        }

        @media only screen and (min-width: 1200px) {
          font-size: 2.5rem;
          font-weight: 400;
        }
      }

      p {
        a {
          color: honeydew;
        }

        font-family: $font_family3;
        @media only screen and (min-width: 768px) {
          font-size: 1.7rem;
        }
        @media only screen and (min-width: 1024px) {
          font-size: 2rem;
        }
        @media only screen and (min-width: 1200px) {
          font-size: 0.9rem;
        }
      }

      .emoji-div {
        margin-top: 2vh;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: space-around;
        overflow: hidden;
        width: 80vw;
        padding: 5vw;

        @media screen and (min-width: 1200px) {
          width: 28vw;
          padding: 1vw;
        }

        span {
          padding: 1.5vw;
          font-size: 1.8rem;

          @media screen and (min-width: 1200px) {
            font-size: 2rem;
            padding: 0;
          }
        }
      }
    }
  }

  .profile {
    margin: 10vw;
    padding: 5vw;
    border: 4px solid $color_1;
    box-shadow: 0 0 20px -1px rgba(22, 19, 75, 0.2);

    @media only screen and (min-width: 1200px) {
      margin: 4vw;
      padding: 2vw;
    }

    img {
      max-height: 40vh;
      box-shadow: 0 0 20px -1px rgba(22, 19, 75, 0.2);

      filter: grayscale(100%) contrast(110%) brightness(110%);
      &:hover {
        filter: grayscale(10%);
        cursor: none;
      }

      @media only screen and (min-width: 768px) {
        max-height: 65vh;
      }
    }
  }
}
