@import "_variables";
@import "_mixin";
@import "_keyframes";

.choice {
  flex-direction: row;
  align-items: stretch;
  color: $color_2;
  text-align: center;
  display: none;

  p {
    margin: 0;
    white-space: nowrap;
    font: {
      family: $font_family2;
      size: $font_p;
    }
  }

  h1 {
    font-size: $font_h3;
    white-space: nowrap;
  }

  .about-div {
    @include box($color_1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $color_2;
    color: $color_1;
    width: 50vw;
  }

  .contact-div {
    @include box($color_2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $color_1;
    width: 50vw;
  }

  // @media only screen and (min-width: 1200px) {
  //   display: flex;
  // }
}
