@import "_variables";
@import "_mixin";
@import "_keyframes";

.contact-me {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 2rem;
  width: 100%;
  height: 100vh;
  background-color: $color_2;
  color: $color_1;

  .contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    .type-text {
      display: flex;
      justify-content: flex-start;
      width: 75vw;

      @media screen and (min-width: 1200px) {
        width: 65vw;
      }
    }

    h1 {
      font-size: 2rem;
      padding-bottom: 1rem;
      line-height: 3rem;
      @media screen and (min-width: 1200px) {
        padding-top: 15vh;
        padding-left: 4vw;
        padding-bottom: 0;
        font-size: 2.2rem;
      }
    }

    h3 {
      display: none;
      width: 45vw;
      text-align: center;
      font-family: $font_family;
      font-weight: 200;
      font-size: 1rem;
      @media screen and (min-width: 1200px) {
        display: block;
      }
    }

    hr {
      width: 30vw;
      height: 4px;
      text-align: left;
      margin-left: 0;
      border-width: 0;
      background-color: $color_1;
      @media screen and (min-width: 1200px) {
        display: none;
      }
    }
  }

  .contact-info {
    padding-top: 1.5rem;

    p {
      font-size: 0.8rem;
      margin-top: 3vh;
      font-family: $font_family2;
    }

    .contact-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 5;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color_1;
        font-size: 1.8rem;
        margin: 2vw;

        @media screen and (min-width: 1200px) {
          margin: 1vw;
        }
        p {
          display: flex;
          align-items: flex-end;
          font-family: $font_family3;
          font-size: $font_p;
          margin: 0;
          padding-left: 3vw;
          @media screen and (min-width: 1200px) {
            padding-left: 1vw;
          }
        }
      }
    }
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  .contact-info-web {
    display: none;

    ul {
      position: absolute;
      bottom: 25vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      display: flex;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0 50px;

        a {
          text-decoration: none;
          display: block;
          width: 210px;
          height: 80px;
          background: #f5c519;
          text-align: left;
          padding-left: 20px;
          transform: rotate(-30deg) skew(25deg) translate(0, 0);
          transition: 0.5s;
          box-shadow: -20px 20px 10px 4px rgba(0, 0, 0, 0.5);

          .fa {
            font-size: 40px;
            color: #262626;
            line-height: 80px;
            transition: 0.5s;
            padding-right: 14px;
          }

          span {
            padding: 0;
            margin: 0;
            position: absolute;
            top: 30px;
            color: #262626;
            letter-spacing: 4px;
            transition: 0.5s;
            font-family: $font_family3;
          }

          &:hover {
            transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
            box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
            background: #3b5998;
            cursor: none;
            &:before {
              background: #365492;
            }
            &:after {
              background: #4a69ad;
            }
          }

          &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: -20px;
            height: 100%;
            width: 20px;
            background: #977703;
            transform: 0.5s;
            transform: rotate(0deg) skewY(-45deg);
          }

          &:after {
            content: "";
            position: absolute;
            bottom: -20px;
            left: -10px;
            height: 20px;
            width: 100%;
            background: #6e5805;
            transform: 0.5s;
            transform: rotate(0deg) skewX(-45deg);
          }
        }

        &:hover {
          .fa {
            color: #fff;
          }
          span {
            color: #fff;
          }
        }
      }
    }

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }

  .cp {
    background-color: $color_1;
    width: 100vw;
    position: absolute;
    text-align: center;
    font-size: 0.8rem;
    bottom: 0;
    left: 0;
    color: $color_2;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    padding: 1rem;
  }
}
