@import "_variables";
@import "_mixin";
@import "_keyframes";

.hook {
  background: linear-gradient(-45deg, #0c0b2f, #1b175c, #1a1584);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  position: relative;
  overflow: hidden;
  height: $height;

  .bg-wrap {
    position: absolute;
    .bg-image {
      width: 100vw;
      @media only screen and (min-width: 1200px) {
        height: 100vh;
        width: 50vw;
      }
    }

    @media only screen and (min-width: 1200px) {
      display: flex;
    }
  }

  .rocket {
    position: absolute;
    font-size: 75px;
    left: 20px;
  }

  .nav-circle {
    position: fixed;
    top: 4.5vw;
    left: 4.5vw;
    height: 3rem;
    width: 3rem;
    font-size: 65px;
    border-radius: 100%;
    background-color: $color_1;
    box-shadow: 0 0 20px -1px rgba(22, 19, 75, 0.2);

    @media (min-width: 768px) {
      height: 5rem;
      width: 5rem;
    }
    @media only screen and (min-width: 1200px) {
      top: 1.5vw;
      left: 2vw;
      height: 4rem;
      width: 4rem;
      z-index: 1;
    }
  }

  .side-bar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    text-align: right;
    right: 4vw;
    top: 6vw;
    z-index: 3;

    a {
      @include hover();
      z-index: 3;
      text-decoration: none;
      color: $color_1;
      margin-top: 2.4vh;
      font-size: $font_p;
    }
    @media only screen and (min-width: 1200px) {
      display: flex;
    }
  }

  .icon-div {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 3.5vw;
    top: 7.5vw;
    z-index: 3;

    a {
      @include hover();
      z-index: 3;
      color: $color_1;
      text-decoration: none;
      margin-top: 1.1vw;
    }
    @media only screen and (min-width: 1200px) {
      display: flex;
    }
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 10%;
    padding: 3vw 4vw;
    position: relative;
    z-index: 3;

    .resume {
      @include hover();
      z-index: 3;
      border: 2px solid $color_1;
      display: inline-block;
      text-decoration: none;
      padding: 1vh 2vw;
      color: $color_1;
      font-size: $font_p;

      @media (min-width: 768px) and (max-width: 1200px) {
        margin-top: 2.5vh;
        font-size: 1.9rem;
      }

      @media (min-width: 1200px) {
        border-radius: 0%;
        font-size: 1.5rem;
        margin-top: 3vh;
      }
    }
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;

    .world {
      perspective: 1000px;
      // z-index: 1;
      padding-top: 15vh;
      @media only screen and (min-width: 700px) and (max-width: 1023px) {
        transform: scale(1.4);
        padding-top: 4vh;
      }
      @media only screen and (min-width: 1024px) {
        transform: scale(1.65);
        padding-top: 4vh;
      }

      .cube {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 280px;
        height: 280px;
        transform-style: preserve-3d;
        animation: animateWorld 12s ease infinite alternate;

        .circle {
          position: absolute;
          width: 100%;
          height: 100%;
          border: 0.18rem dotted $liteColor1;
          border-radius: 50%;
          opacity: 1;
          @media only screen and (min-width: 1200px) {
            opacity: 0.8;
          }
        }

        .zero {
          transform: rotateX(90deg);
        }

        .two {
          transform: rotateY(45deg);
        }

        .three {
          transform: rotateY(90deg);
        }

        .four {
          transform: rotateY(135deg);
        }

        .five {
          width: 253px;
          height: 253px;
          margin: 14px;
          transform: rotateX(90deg) translateZ(50px);
        }

        .six {
          width: 253px;
          height: 253px;
          margin: 14px;
          transform: rotateX(90deg) translateZ(-50px);
        }
      }
    }

    .text-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      overflow: visible;
      height: 10%;
      width: 100%;
      padding-bottom: 10vh;

      .cursor {
        width: 0.2rem;
        height: 5vw;
        background: $color_1;
        margin-left: 5px;
        animation: blink 1s step-end infinite;
        @media only screen and (min-width: 1024px) {
          width: 0.4rem;
        }
      }

      #type-text {
        font-size: 6vw;
        font-weight: 400;
        color: $color_1;

        @media only screen and (min-width: 1024px) {
          font-size: 5vw;
          font-weight: 400;
        }
      }

      @media only screen and (min-width: 1200px) {
        &:hover {
          cursor: $cursorDown;
        }
      }
    }
  }

  .arrow-down {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    a {
      @include hover();
    }
    @media only screen and (min-width: 1200px) {
      display: none;
    }
  }
}
