@import "_variables";
@import "_mixin";
@import "_keyframes";

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  padding: 10vh 10vw;
  background-color: $color_3;
  color: $color_2;
  white-space: nowrap;
  border-top: 5px solid $color_1;
  border-bottom: 5px solid $color_1;

  @media only screen and (min-width: 1025px) {
    padding: 8vw;
  }

  a {
    text-decoration: none;
    color: $color_2;
    transition-duration: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .preview {
    animation: fadeIn ease 0.3s;
    position: absolute;
    height: 60vh;
    width: 100vw;
    background: radial-gradient(#fefceb, rgba(255, 255, 255, 0));
    right: 2vw;
    top: 10vw;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @media only screen and (min-width: 1200px) {
      height: 100vh;
      width: 60vw;
    }

    .phone {
      height: 450px;
      position: absolute;
      z-index: 1;
      @media only screen and (min-width: 760px) {
        height: 518px;
      }
    }

    .content {
      height: 420px;
      position: absolute;
      @media only screen and (min-width: 760px) {
        height: 485px;
      }
    }

    .laptop {
      width: 300px;
      position: absolute;
      @media only screen and (min-width: 760px) {
        width: 500px;
      }

      @media only screen and (min-width: 1200px) {
        width: 700px;
      }

      @media only screen and (min-width: 1500px) {
        width: 900px;
      }
    }

    .lap-content {
      z-index: 1;
      width: 220px;
      position: absolute;
      @media only screen and (min-width: 760px) {
        width: 380px;
      }

      @media only screen and (min-width: 1200px) {
        width: 520px;
      }

      @media only screen and (min-width: 1500px) {
        width: 680px;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80vw;

    li {
      padding: 3rem 0;
      border-bottom: 1px solid $color_2;

      .project-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &:hover,
      :active,
      :focus {
        .preview {
          display: flex;
        }
      }
    }
  }

  h2 {
    font-size: 7vw;
    font-family: $font_family2;
    font-weight: 200;
    margin: 0;
    opacity: 0.9;
    width: 100vw;

    &:hover {
      opacity: 1;
      color: $color_4;
    }
    @media only screen and (min-width: 1025px) {
      font-size: 6vw;
    }

    a {
      color: inherit;
    }
  }

  h3 {
    font: {
      size: 7vw;
      family: $font_family;
    }
    margin: 0;
    @media only screen and (min-width: 1025px) {
      font-size: 3vw;
    }
  }
}
