@-webkit-keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@-webkit-keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  cursor: url(../images/cursorXS.png), auto;
}

body a {
  cursor: url(../images/cursorXS.png), auto;
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

.hook {
  background-color: #16134b;
  height: 100vh;
  position: relative;
}

.hook .rocket {
  position: absolute;
  font-size: 75px;
  left: 20px;
}

.hook .nav-circle {
  position: fixed;
  top: 4.5vw;
  left: 4.5vw;
  height: 3rem;
  width: 3rem;
  font-size: 65px;
  border-radius: 100%;
  background-color: #f5c519;
  -webkit-box-shadow: 0 0 20px -1px rgba(22, 19, 75, 0.2);
          box-shadow: 0 0 20px -1px rgba(22, 19, 75, 0.2);
}

@media only screen and (min-width: 1425px) {
  .hook .nav-circle {
    top: 1.5vw;
    left: 2vw;
    height: 4rem;
    width: 4rem;
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .hook .nav-circle {
    height: 5rem;
    width: 5rem;
  }
}

.hook .side-bar {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  text-align: right;
  right: 4vw;
  top: 6vw;
}

.hook .side-bar a {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: none;
  text-decoration: none;
  color: #f5c519;
  margin-top: 2.4vh;
  font-size: 1.2rem;
}

.hook .side-bar a:hover {
  color: #fefceb;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (min-width: 1425px) {
  .hook .side-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hook .icon-div {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 3.5vw;
  top: 7.5vw;
}

.hook .icon-div a {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: none;
  color: #f5c519;
  text-decoration: none;
  margin-top: 1.1vw;
}

.hook .icon-div a:hover {
  color: #fefceb;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (min-width: 1425px) {
  .hook .icon-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hook .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10%;
  padding: 3vw 4vw;
}

.hook .nav-bar .resume {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: none;
  border: 2px solid #f5c519;
  display: inline-block;
  text-decoration: none;
  padding: 1vh 2vw;
  color: #f5c519;
  font-size: 1.2rem;
}

.hook .nav-bar .resume:hover {
  color: #fefceb;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (min-width: 1440px) {
  .hook .nav-bar .resume {
    border-radius: 0%;
    font-size: 1.5rem;
    margin-top: 3vh;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .hook .nav-bar .resume {
    margin-top: 2.5vh;
    font-size: 1.9rem;
  }
}

.hook .intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80%;
}

.hook .intro-text .world {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  z-index: 1;
  padding-top: 15vh;
}

@media only screen and (min-width: 700px) and (max-width: 1023px) {
  .hook .intro-text .world {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    padding-top: 4vh;
  }
}

@media only screen and (min-width: 1024px) {
  .hook .intro-text .world {
    -webkit-transform: scale(1.65);
            transform: scale(1.65);
    padding-top: 4vh;
  }
}

.hook .intro-text .world .cube {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 280px;
  height: 280px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: animateWorld 12s ease infinite alternate;
          animation: animateWorld 12s ease infinite alternate;
}

.hook .intro-text .world .cube .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.18rem dotted #f3e73f;
  border-radius: 50%;
  opacity: 1;
}

@media only screen and (min-width: 1425px) {
  .hook .intro-text .world .cube .circle {
    opacity: 0.8;
  }
}

.hook .intro-text .world .cube .zero {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.hook .intro-text .world .cube .two {
  -webkit-transform: rotateY(45deg);
          transform: rotateY(45deg);
}

.hook .intro-text .world .cube .three {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.hook .intro-text .world .cube .four {
  -webkit-transform: rotateY(135deg);
          transform: rotateY(135deg);
}

.hook .intro-text .world .cube .five {
  width: 253px;
  height: 253px;
  margin: 14px;
  -webkit-transform: rotateX(90deg) translateZ(50px);
          transform: rotateX(90deg) translateZ(50px);
}

.hook .intro-text .world .cube .six {
  width: 253px;
  height: 253px;
  margin: 14px;
  -webkit-transform: rotateX(90deg) translateZ(-50px);
          transform: rotateX(90deg) translateZ(-50px);
}

.hook .intro-text .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  overflow: visible;
  height: 10%;
  width: 100%;
  padding-bottom: 10vh;
}

.hook .intro-text .text-container .cursor {
  width: 0.2rem;
  height: 5vw;
  background: #f5c519;
  margin-left: 5px;
  -webkit-animation: blink 1s step-end infinite;
          animation: blink 1s step-end infinite;
}

@media only screen and (min-width: 1024px) {
  .hook .intro-text .text-container .cursor {
    width: 0.4rem;
  }
}

.hook .intro-text .text-container #type-text {
  font-size: 6vw;
  font-weight: 400;
  color: #f5c519;
}

@media only screen and (min-width: 1024px) {
  .hook .intro-text .text-container #type-text {
    font-size: 5vw;
    font-weight: 400;
  }
}

@media only screen and (min-width: 1425px) {
  .hook .intro-text .text-container:hover {
    cursor: url(../images/cursorarrow.png), auto;
  }
}

.hook .arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hook .arrow-down a {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: none;
}

.hook .arrow-down a:hover {
  color: #fefceb;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (min-width: 1425px) {
  .hook .arrow-down {
    display: none;
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10vh 10vw;
  background-color: #fefceb;
  color: #16134b;
  white-space: nowrap;
}

@media only screen and (min-width: 1025px) {
  .projects {
    padding: 8vw;
  }
}

.projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 80vw;
}

.projects ul li {
  padding: 3rem 0;
  border-bottom: 1px solid #16134b;
}

.projects h2 {
  font-size: 7vw;
  font-family: "Playfair Display", serif;
  font-weight: 200;
  margin: 0;
  opacity: 0.9;
}

.projects h2:hover {
  opacity: 1;
  color: #040610;
}

@media only screen and (min-width: 1025px) {
  .projects h2 {
    font-size: 6vw;
  }
}

.projects h3 {
  font-size: 7vw;
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

@media only screen and (min-width: 1025px) {
  .projects h3 {
    font-size: 3vw;
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

.choice {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: #16134b;
  text-align: center;
  display: none;
}

.choice p {
  margin: 0;
  white-space: nowrap;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
}

.choice h1 {
  font-size: 2.5rem;
  white-space: nowrap;
}

.choice .about-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #16134b;
  color: #f5c519;
  width: 50vw;
}

.choice .about-div .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12vw;
  margin: 100;
  border: 10px solid #f5c519;
  border-radius: 100%;
  position: relative;
  width: 12vw;
  height: 12.5vw;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.choice .about-div .box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-radius: 0%;
  cursor: none;
}

.choice .contact-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #f5c519;
  width: 50vw;
}

.choice .contact-div .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12vw;
  margin: 100;
  border: 10px solid #16134b;
  border-radius: 100%;
  position: relative;
  width: 12vw;
  height: 12.5vw;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.choice .contact-div .box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-radius: 0%;
  cursor: none;
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 6vh 10vw;
  color: #fefceb;
  background-color: #16134b;
}

@media only screen and (min-width: 1025px) {
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 18vh;
    padding-bottom: 18vh;
    padding-right: 10vw;
    text-align: start;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .about-me {
    margin-bottom: 5vh;
  }
}

.about-me .profile-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.about-me .profile-text .inner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-me .profile-text .inner-text h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  margin-top: 0;
}

@media only screen and (min-width: 1201px) {
  .about-me .profile-text .inner-text h1 {
    font-size: 3rem;
    font-weight: 400;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .about-me .profile-text .inner-text h1 {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .about-me .profile-text .inner-text h1 {
    font-size: 4rem;
  }
}

.about-me .profile-text .inner-text p {
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 1439px) {
  .about-me .profile-text .inner-text p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .about-me .profile-text .inner-text p {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .about-me .profile-text .inner-text p {
    font-size: 1.7rem;
  }
}

.about-me .profile-text .inner-text .emoji-div {
  margin-top: 2vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  overflow: hidden;
  width: 80vw;
  padding: 5vw;
}

@media screen and (min-width: 1400px) {
  .about-me .profile-text .inner-text .emoji-div {
    width: 28vw;
    padding: 1vw;
  }
}

.about-me .profile-text .inner-text .emoji-div span {
  padding: 1.5vw;
  font-size: 1.8rem;
}

@media screen and (min-width: 1400px) {
  .about-me .profile-text .inner-text .emoji-div span {
    font-size: 2rem;
    padding: 0;
  }
}

.about-me .profile {
  margin: 10vw;
  padding: 5vw;
  border: 4px solid #f5c519;
  -webkit-box-shadow: 0 0 20px -1px rgba(22, 19, 75, 0.2);
          box-shadow: 0 0 20px -1px rgba(22, 19, 75, 0.2);
}

@media only screen and (min-width: 1400px) {
  .about-me .profile {
    margin: 4vw;
    padding: 2vw;
  }
}

.about-me .profile img {
  max-height: 40vh;
  -webkit-box-shadow: 0 0 20px -1px rgba(22, 19, 75, 0.2);
          box-shadow: 0 0 20px -1px rgba(22, 19, 75, 0.2);
  -webkit-filter: grayscale(100%) contrast(110%) brightness(110%);
          filter: grayscale(100%) contrast(110%) brightness(110%);
}

.about-me .profile img:hover {
  -webkit-filter: grayscale(10%);
          filter: grayscale(10%);
  cursor: none;
}

@media only screen and (min-width: 768px) {
  .about-me .profile img {
    max-height: 65vh;
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

.tech-stack {
  background-color: #fefceb;
  color: #16134b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.tech-stack .skills {
  padding: 1.8vw 8vw;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tech-stack .skills .skill-list {
  opacity: 0.9;
  color: #16134b;
  font-weight: 500;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 3vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.tech-stack .skills .skill-list p {
  margin: 0;
}

.tech-stack .skills .skill-list p:hover {
  background-color: #ffebb4;
  cursor: none;
}

@media screen and (min-width: 1400px) {
  .tech-stack .skills .skill-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 600;
    width: 85vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1vw;
    margin-bottom: 5vw;
    padding-right: 10vw;
  }
}

.tech-stack .skills .skill-list .skill-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1400px) {
  .tech-stack .skills .skill-list .skill-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.tech-stack .skills .skill-list .skill-section .skill-type {
  width: 35vw;
}

.tech-stack .skills .skill-list .skill-section .skill-type h2 {
  margin: 0;
  text-align: end;
  color: #f5c519;
}

@media screen and (min-width: 1400px) {
  .tech-stack .skills .skill-list .skill-section .skill-type {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .tech-stack .skills .skill-list .skill-section .skill-type h2 {
    font-size: 3rem;
  }
  .tech-stack .skills .skill-list .skill-section .skill-type:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.tech-stack .skills .skill-list .skill-section .skill-names {
  margin-left: 5vw;
  border-left: 1px solid #16134b;
  padding-left: 5vw;
}

@media screen and (min-width: 1400px) {
  .tech-stack .skills .skill-list .skill-section .skill-names {
    margin-left: 0;
    margin-top: 3vw;
    padding-left: 2vw;
  }
  .tech-stack .skills .skill-list .skill-section .skill-names p {
    font-size: 1.3rem;
    padding: 1vh;
  }
}

@media screen and (min-width: 1025px) {
  .tech-stack .skills {
    padding-left: 12vw;
    border-top: 5px solid #f5c519;
    margin-right: 10vw;
    margin-left: 10vw;
  }
}

.tech-stack h1 {
  text-decoration: underline;
  -webkit-text-decoration-color: #f5c519;
          text-decoration-color: #f5c519;
  text-decoration-thickness: 5px;
  font-size: 1.8rem;
  font-family: "Roboto Mono", monospace;
}

@media screen and (min-width: 1400px) {
  .tech-stack h1 {
    font-size: 3rem;
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

@keyframes animateWorld {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
            transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
            transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #f5c519;
  }
}

.contact-me {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  padding: 2rem;
  width: 100%;
  height: 100vh;
  background-color: #16134b;
  color: #f5c519;
  z-index: -1;
}

.contact-me .contact-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-me .contact-text h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
  line-height: 3rem;
}

@media screen and (min-width: 1400px) {
  .contact-me .contact-text h1 {
    width: 65vw;
    padding-top: 15vh;
    padding-left: 4vw;
    padding-bottom: 0;
    font-size: 2.2rem;
  }
}

.contact-me .contact-text h3 {
  display: none;
  width: 45vw;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  font-size: 1rem;
}

@media screen and (min-width: 1400px) {
  .contact-me .contact-text h3 {
    display: block;
  }
}

.contact-me .contact-text hr {
  width: 30vw;
  height: 4px;
  text-align: left;
  margin-left: 0;
  border-width: 0;
  background-color: #f5c519;
}

@media screen and (min-width: 1400px) {
  .contact-me .contact-text hr {
    display: none;
  }
}

.contact-me .contact-info {
  padding-top: 1.5rem;
}

.contact-me .contact-info p {
  font-size: 0.8rem;
  margin-top: 3vh;
  font-family: "Playfair Display", serif;
}

.contact-me .contact-info .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-me .contact-info .contact-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #f5c519;
  font-size: 1.8rem;
  margin: 2vw;
}

@media screen and (min-width: 1400px) {
  .contact-me .contact-info .contact-icon a {
    margin: 1vw;
  }
}

.contact-me .contact-info .contact-icon a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding-left: 3vw;
}

@media screen and (min-width: 1400px) {
  .contact-me .contact-info .contact-icon a p {
    padding-left: 1vw;
  }
}

@media screen and (min-width: 1400px) {
  .contact-me .contact-info {
    display: none;
  }
}

.contact-me .contact-info-web {
  display: none;
}

.contact-me .contact-info-web ul {
  position: absolute;
  bottom: 25vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.contact-me .contact-info-web ul li {
  list-style: none;
  margin: 0 50px;
}

.contact-me .contact-info-web ul li a {
  text-decoration: none;
  display: block;
  width: 210px;
  height: 80px;
  background: #f5c519;
  text-align: left;
  padding-left: 20px;
  -webkit-transform: rotate(-30deg) skew(25deg) translate(0, 0);
          transform: rotate(-30deg) skew(25deg) translate(0, 0);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: -20px 20px 10px 4px rgba(0, 0, 0, 0.5);
          box-shadow: -20px 20px 10px 4px rgba(0, 0, 0, 0.5);
}

.contact-me .contact-info-web ul li a .fa {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  -webkit-transition: .5s;
  transition: .5s;
  padding-right: 14px;
}

.contact-me .contact-info-web ul li a span {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: "Open Sans", sans-serif;
}

.contact-me .contact-info-web ul li a:hover {
  -webkit-transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
          transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  -webkit-box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
          box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  background: #3b5998;
  cursor: none;
}

.contact-me .contact-info-web ul li a:hover:before {
  background: #365492;
}

.contact-me .contact-info-web ul li a:hover:after {
  background: #4a69ad;
}

.contact-me .contact-info-web ul li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #977703;
  -webkit-transform: .5s;
          transform: .5s;
  -webkit-transform: rotate(0deg) skewY(-45deg);
          transform: rotate(0deg) skewY(-45deg);
}

.contact-me .contact-info-web ul li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #6e5805;
  -webkit-transform: 0.5s;
          transform: 0.5s;
  -webkit-transform: rotate(0deg) skewX(-45deg);
          transform: rotate(0deg) skewX(-45deg);
}

.contact-me .contact-info-web ul li:hover .fa {
  color: #fff;
}

.contact-me .contact-info-web ul li:hover span {
  color: #fff;
}

@media screen and (min-width: 1400px) {
  .contact-me .contact-info-web {
    display: block;
  }
}

.contact-me .cp {
  background-color: #f5c519;
  width: 100vw;
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  bottom: 0;
  left: 0;
  color: #16134b;
}

@media screen and (min-width: 1400px) {
  .contact-me {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 0;
    padding: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */