@import '_variables';
@import '_mixin';
@import '_keyframes';

.contact-me {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 2rem;
  width: 100%;
  height: 100vh;
  background-color: $color_2;
  color: $color_1;
  z-index: -1;

  h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
    line-height: 3rem;
  }

  hr {
    width: 50%;
    height: 4px;
    text-align:left;
    margin-left:0;
    border-width:0;
    background-color: $color_1;
  }


  .contact-info {
    padding-top: 1.5rem;
    
    p {
      font-size: 0.8rem;
      margin-top: 3vh;
      font-family: $font_family2;
    }

    .contact-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color_1;
        font-size: 1.8rem;
        margin: 2vw;
        p {
          display:flex;
          align-items: flex-end;
          font-family: $font_family3;
          font-size: $font_p;
          // margin-left: 3vw;
          margin: 0;
          padding-left: 3vw;
        }  
      }
    }
  }

  .cp {
    background-color: $color_1;
    width: 100vw;
    position: absolute;
    text-align: center;
    font-size: 0.8rem;
    bottom: 0;
    left: 0;
    color: $color_2;
  }

  

}