$color_1: #f5c519;
$liteColor1: #f3e73f;
$altCol1: #f5b419;
$color_2: rgb(22, 19, 75);
$liteColor2: #1b2979;
$color_3: #fffefb;
$color_4: #040610;
// random other color #070a1a; // f0a900;

$height: 100vh;
$font_h1: 4rem;
$font_h3: 2.5rem;
$font_h2: 1.5rem;
$font_p: 1.2rem;
$font_family: 'Roboto Mono', monospace; 
// 'Source Code Pro', monospace; 
// 'Roboto Mono', monospace;;
$font_family2: 'Playfair Display', serif;;
$cursor: url(../images/cursorXS.png), auto;
$cursorDown: url(../images/cursorarrow.png), auto;
;

//Pamela Kaylin 🚀
//Full-stack engineer 
//Welcome to my universe 
//I create my own world.

