@import '_variables';

@mixin flexCol ($position) {
  display: flex;
  flex-direction: column;
  align-items: $position;
  justify-content: $position;
  height: $height;
}

@mixin flexRow ($position) {
  display: flex;
  flex-direction: row;
  justify-content: $position;
  align-items: center;
}

@mixin box ($borderCol) {
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12vw;
    margin: 100;
    border: 10px solid $borderCol;
    border-radius: 100%;
    position: relative;
    width: 12vw;
    height: 12.5vw;
    transition-duration: 0.4s;
    &:hover {
      transform: scale(1.2);
      border-radius: 0%;
      cursor: none;
    }
  }
}

@mixin hover() {
  transition-duration: 0.2s;
  &:hover {
    color: $color_3;
    transform: scale(1.2);
  }
  cursor: none;
}

@keyframes animateWorld {
  0% { -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg); }
  50% { transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg); }
  100% { transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg); }
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: $color_1; 
	}
}


* {
  box-sizing: border-box;
}

body {
  font-family: $font_family;
  margin: 0;
  cursor: $cursor;
  a {
    cursor: $cursor;
  }
}

.hook {
  background-color: #16134b;
  height: $height;
  position: relative;

  .rocket {
    position: absolute;
    font-size: 75px;
    left: 20px;
  }

  .nav-circle {
    position: fixed;
    top: 4.5vw;
    left: 4.5vw;
    height: 3rem;
    width: 3rem;
    font-size: 65px;
    border-radius: 100%;
    background-color: $color_1;

    @media only screen and (min-width: 1425px) {
      top: 1.5vw;
      left: 2vw;
      height: 4rem;
      width: 4rem;
    }  
  }

  .side-bar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    text-align: right;
    right: 4vw;
    top: 6vw;
    a {
      @include hover();
      text-decoration: none;
      color: $color_1;
      margin-top: 1vw;
    }
    @media only screen and (min-width: 1425px) {
      display: flex;
    } 
  }

  .icon-div {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 3vw;
    top: 7vw;
    a {
      @include hover();
      color: $color_1;
      text-decoration: none;
      margin-top: 1vw;
    }
    @media only screen and (min-width: 1425px) {
      display: flex;
    } 
  }

  .nav-bar { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 10%;
    padding: 3vw 4vw;
    

    .resume {
      @include hover();
      border: 2px solid $color_1;
      display: inline-block; 
      text-decoration: none;
      padding: 5px 8px;
      color: $color_1;
      font-size: $font_p;
    }


  }

  .intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;

    .world {
      perspective: 1000px;
      z-index: 1;
      padding-top: 15vh;
      @media only screen and (min-width: 700px) and (max-width: 1023px) {
        transform: scale(1.4);
        padding-top: 4vh;
      }
      @media only screen and (min-width: 1024px) {
        transform: scale(1.65);
        padding-top: 4vh;
      }  

  
      .cube {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 280px;
        height: 280px;
        transform-style: preserve-3d;
        animation: animateWorld 12s ease infinite alternate;
  
        .circle {
          position: absolute;
          width: 100%;    
          height: 100%;
          border: 0.18rem dotted $liteColor1; 
          border-radius: 50%;
          opacity: 1; 
          @media only screen and (min-width: 1425px) {
            opacity: 0.8;
          }  
        }
  
        .zero {
          transform: rotateX(90deg);
        }
      
        .two {
          transform: rotateY(45deg);
        }
        
        .three {
          transform: rotateY(90deg);
        }
        
        .four {
          transform: rotateY(135deg);
        }
      
        .five {
          width: 253px;
          height: 253px;
          margin: 14px;
          transform: rotateX(90deg) translateZ(50px);
        }
        
        .six {
          width: 253px;
          height: 253px;
          margin: 14px;
          transform: rotateX(90deg) translateZ(-50px);
        }
  
      }
    } 

    .text-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      overflow: visible;
      height: 10%;
      width: 100%;
      padding-bottom: 10vh;

      .cursor {
        width: 0.2rem; 
        height: 5vw; 
        background: $color_1;
        margin-left: 5px;
        animation: blink 1s step-end infinite;
        @media only screen and (min-width: 1024px) {
          width: 0.4rem;
        }  

      }

      #type-text {
        font-size: 6vw;
        font-weight: 400;
        color: $color_1;

        @media only screen and (min-width: 1024px) {
          font-size: 5vw;
          font-weight: 500;
        }  
      }

      @media only screen and (min-width: 1425px) {
        &:hover {
          cursor: $cursorDown;
        }
      } 

    }

  }

  .arrow-down {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    a {
      @include hover();
    }
    @media only screen and (min-width: 1425px) {
      display: none;
    } 
  }


}


.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  margin: 10vh 10vw; 
  background-color: $color_3;
  color: $color_2;
  white-space: nowrap;

  @media only screen and (min-width: 1025px) {
    margin: 8vw;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80vw;

    li {
      padding: 3rem 0;
      border-bottom: 1px solid $color_2;
    }
  }

  h2 {
    font-size: 10vw;
    font-family: $font_family2;
    font-weight: 100;
    margin: 0;
    opacity: 0.9;
    &:hover {
      opacity: 1;
      color: $color_4;
    };
    @media only screen and (min-width: 1025px) {
      font-size: 6vw;
    }  
  }

  h3 {
    font: {
      size: 7vw;
      family: $font_family; 
    }
    margin: 0;
    @media only screen and (min-width: 1025px) {
      font-size: 3vw;
    } 
  }
}


.choice {
  flex-direction: row;
  align-items: stretch;
  color: $color_2;
  text-align: center;
  display: none;

  p {
    margin: 0;
    white-space: nowrap;
    font: {
      family: $font_family2;
      size: $font_p;
    }  
  }

  h1 {
    font-size: $font_h3;
    white-space: nowrap;
  }
  
  .about-div {
    @include box($color_1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $color_2;
    color: $color_1;
    width: 50vw;
    
  }

  .contact-div {
    @include box($color_2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $color_1;
    width: 50vw;
  }

  @media only screen and (min-width: 1425px) {
    display: flex;
  }  

}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 18vh 10vw;
  color: $color_2;
  // background: $color_2;

  @media only screen and (min-width: 1025px) {
    flex-direction: row;
  } 

  .profile-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media only screen and (min-width: 768px) {
      h1 {
        font-size: $font_h1;
      }
      p {
        font-size: $font_h2;
      }
    } 

    @media only screen and (min-width: 1025px) {
      align-items: flex-start;
      text-align: left;
    } 
  }

  .profile {
    margin: 10vw;
    padding: 5vw;
    border: 3px solid $color_1;
    @media only screen and (min-width: 1024px) {
      margin: 5vw;
      padding: 2vw;
    } 
    
    img {
      max-height: 40vh;
      filter: grayscale(100%) contrast(110%) brightness(110%);
      &:hover {
        filter: grayscale(10%);
        cursor: none;
      }
      @media only screen and (min-width: 768px) {
        max-height: 65vh;
      } 
    }

  }

}

.tech-stack {
  background: $color_2;
  color: $color_1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


